{{template "base" .***REMOVED******REMOVED***

{{define "title"***REMOVED******REMOVED***
    Widgets
{{end***REMOVED******REMOVED***

{{define "content"***REMOVED******REMOVED***
<h2 class="mt-3 text-center">Widgets</h2>
<hr>

{{end***REMOVED******REMOVED***

{{define "js"***REMOVED******REMOVED***

{{end***REMOVED******REMOVED***